/* @font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v49/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3GUBGEe.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
} */

*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    /* background-color: black; */
}
main{
    height: 100%;
    width: 100%;
}
nav{
    width: 100%;
    height: 60px;
    /* background-color: red; */
    display: flex;
    padding: 0px 20px;
    align-items: center;
}
.left{
    width: 20%;
    height: 100%;
    /* background-color: aqua; */
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}
.left>div{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 25px;
}
.menu{
    height: 24px;
    width: 24px;
}
.logo{
    height: 20px;
    width: 93px;
    display: flex;
    /* gap: 5px; */
    /* height: 100%; */
    align-items: center;
}
you-tube{
    height: 20px;
    width: 93px;
}
.logo>span{
    font-family: 'Roboto',sans-serif;
    /* background-color: red; */
    display: inline-block;
    /* height: 100%; */
    margin-left: -2px;
    margin-top: -4px;
    padding-left:5px;
    padding-bottom: 10px;
    font-size: 10px;    
}
.middle{
    width: 65%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle-container{
    height: 100%;
    width: 80%;
    display: flex;
}
.search-container{
    width: 80%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
}
.search-container>div{
    height: 40px;
    width: 100%;
    /* background-color: red; */
    border-radius: 20px;
    padding: 0px 5px;
    border: 1px solid #c6c6c6;
    box-shadow: inset 0 1px 2px #eee;
    display: flex;

}
.search-container>div:focus-within>.middle-left{
    display: flex;
}
/* .search-container>div:focus-visible>.middle-left{
    display: flex;
} */
.middle-left{
    height: 100%;
    width: 10%;
    /* background-color: red; */
    display: flex;
    justify-content: start;
    align-items: center;
    display: none;
    /* padding: 24px 24px; */
}
.middle-left>div{
    width: 34px;
    height: 34px;
    /* background-color: aqua; */
    padding: 5px;
}
.middle-middle{
    width: 90%;
    height: 100%;
    /* background-color: red; */
}
.middle-middle>input{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    border: none;
    outline: none;
    padding: 2px 3px 0px 3px;
    border-radius: 25px;
}
.middle-middle>input>::placeholder{
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
}
.middle-right{
    width: 10%;
    /* background-color: red; */
    height: 100%;
    /* border-radius: 50%; */
}
.middle-right>div{
    min-width: 64px;
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid #d3d3d3;
    background-color: #f8f8f8;
    border-radius: 0 40px 40px 0;    
}
.middle-right>div:hover{
    background-color: #f0f0f0;
}
.middle-right>div>div{
    width: 24px;
    height: 24px;
    /* background-color: red; */
}
.mike-container{
    width: 20%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    padding: 0px 10px;
    border-radius: 50%;
}
.mike-container>div{
    height: 34px;
    width: 34px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #f8f8f8;
    padding: 5px;
    border-radius: 50%;
}
.mike-container>div:hover{
    background: rgba(0, 0, 0, 0.2);
    color: #0f0f0f;
}
.right{
    width: 15%;
    height: 100%;
    /* background-color: palevioletred; */
    display: flex;
    padding: 5px 5px;
    justify-content: center;
    align-items: center;
}
.threedots{
    height: 100%;
    width: 40%;
    /* background-color: aqua; */
    /* justify-content: center; */
    padding: 30px 30px;
    align-items: center;
    padding-top: 15px;
}
.threedots>div{
    height: 24px;
    width: 24px;  
}
.signin{
    height: 35px;
    width: 50%;
    /* background-color: red; */
    display: flex;
    border-radius: 50px;
    border: 1px solid #c6c6c6;
    border-radius: 20px;
    padding: 0px 5px;
    
}
.signin:hover{
    background-color: rgba(0, 0, 0, 0.1);
    color: #065fd4;
}
.slogo{
    height: 100%;
    width: 40%;
    /* background-color: aqua; */
    border-radius: 50%;
    padding: 0px 5px;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}
.slogo>div{
    height: 24px;
    width: 24px;
    /* color: #065fd4; */
    fill: #065fd4;
}
.text{
    height: 100%;
    width: 100%;
    font-size: 14px;
    color: #065fd4;
    font-weight: 500;
    align-content: center;
    font-family: "Roboto", sans-serif;
    /* background-color: blue; */
    /* padding: 15px 5px 5px 0; */
    /* padding-top: 15px; */
   
}
.text>span{
    height: 42px;
    width: 36px;
}